*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: url(/img/bg4.jpg);
    background-size: cover;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: row;

}
.box {
    position: absolute;
    border-radius: 10px;
    top: 50px;
    left: 50px;
    width: 518px;
    height: 726px;
    background-color: rgba(#ffffff,0.6);
}


    .wrapper{
        position: absolute;
        top: 50px;
        left: 50px;
        width: 518px;
        height:  726px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        
        ::placeholder{
            color: rgba(#000000,0.5);
            padding: 0 10px;
            font-family: 'Reem Kufi';
        }

        .heading{
            width: 200px;
            height: 60px;
            font-weight: 700;
            font-size: 40px;
            line-height: 60px;
            font-family: 'Reem Kufi';
            color: #000000;
            text-align: center;
        }

        .email{
            width: 360px;
            height: 61px;
            border: none;
            border-radius: 10px;
            background: rgba(245, 245, 245, 0.8);
        }

        .password{
            background: rgba(245, 245, 245, 0.8);
            border: none;
            border-radius: 10px;
            width: 360px;
            height: 61px;
        }

        .button{
            width: 360px;
            height: 61px;
            border: none;
            background: #3578DE;
            border-radius: 10px;
            color: #ffffff;
            font-family: 'Reem Kufi';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 30px;
            letter-spacing: 2px;
            text-align: center;
        }

        .checkbox{
            width: 200px;
            height: 30px;
            font-family: 'Reem Kufi';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            position: relative;
            right:15%;
        }

    .orcont{
        display: flex;
        flex-direction: row;
        align-items: center;

        p{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 56px;
            height: 50px;
            border: 3px solid rgba(220, 217, 217, 0.5);
            border-radius: 10px;
            font-family: 'Reem Kufi';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            color: rgba(255, 255, 255, 0.5);
        }
        .line1{
            width: 143px;
            height: 0px;
            border-radius: 3px;
            border:3px solid  rgba(220, 217, 217, 0.5);
        }

        .line2{
            width: 143px;
            height: 0px;
            border-radius: 3px;
            border:3px solid  rgba(220, 217, 217, 0.5);
        }
    }


        .link{
            width: 200px;
            height: 30px;
            text-decoration: none;
            font-family: 'Reem Kufi';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            color: rgba(#000000,0.5);
            text-align: center;
        }



        .iconcont{
            width: 153px;
            height: 61px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;


        .linkedin{
            width: 69px;
            height: 61px;
            border: 3px solid rgba(220, 217, 217, 0.5);
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;

            .linkic{
                fill: rgba(220, 217, 217, 1);
            }
        }


        .fb{
            width: 69px;
            height: 61px;
            border: 3px solid rgba(220, 217, 217, 0.5);
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            .fbic{
                fill: rgba(220, 217, 217, 1);;
            }
        }

    }
    
        
    }

    
    
    


.bgimage{
    z-index: -1;
    border-radius: 10px;
    position: relative;
    top: 50px;
    left: 50px;
    width: 518px;
    height: 726px;
    background: url(/img/bg.jpg),#0F0F0F;
    box-shadow: 0px 319px 128px rgba(0, 0, 0, 0.01), 0px 180px 108px rgba(0, 0, 0, 0.05), 0px 80px 80px rgba(0, 0, 0, 0.09), 0px 20px 44px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    background-size: cover;
}

.login2{
    padding: 0 px;
    position: absolute;
    left: 35%; 
    .box{
        background-color: rgba(#777777,0.6);

    }
    .bgimage{
        z-index: -1;
        border-radius: 10px;
        position: relative;
        top: 50px;
        left: 50px;
        width: 518px;
        height: 726px;
        background: url(/img/bg2.jpg),#0F0F0F;
        box-shadow: 0px 319px 128px rgba(0, 0, 0, 0.01), 0px 180px 108px rgba(0, 0, 0, 0.05), 0px 80px 80px rgba(0, 0, 0, 0.09), 0px 20px 44px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
        background-size: cover;
    }
}

.login3{
    position: absolute;
    right:5%;

    .box{
        background-color: rgba(#d4d3d3,0.6);
    }

    .bgimage{
        z-index: -1;
        border-radius: 10px;
        position: relative;
        top: 50px;
        left: 50px;
        width: 518px;
        height: 726px;
        background: url(/img/bg3.jpg),#0F0F0F;
        box-shadow: 0px 319px 128px rgba(0, 0, 0, 0.01), 0px 180px 108px rgba(0, 0, 0, 0.05), 0px 80px 80px rgba(0, 0, 0, 0.09), 0px 20px 44px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
        background-size: cover;
    }
}
